@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .legal-paragraph {
    @apply mb-4;
  }
}


.transitionDiv {
  animation: "errorAnimatin 270ms ease-in-out",
}

@keyframes errorAnimation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
